bin/
obj/
appsettings.Development.json
.fake/
paket-files/

logs/

.idea/
.vscode/
.vs/
.suo

*.db
*.db-shm
*.db-wal

*.7z
*.zip
*.rar

# nuget caches 
nuget-package-caches

*.csproj.user
/Src/SmartPack.FunFlows.WPF/SmartPack.FunFlows.WPF.csproj.user
*.user
/Src/DummyShell/Properties/launchSettings.json
.qoder
qodana.yaml
/Src/DummyShell/Properties/PublishProfiles/FolderProfile.pubxml.user
/Src/Publish
/Src/.codewhale
/WebClient/.codewhale
/.reasonix
